section#clients
  .container(name="clients")
    .center
      p.section-title #{sectionTitleClients}
    .section-body
      .clients-titles.clearfix
        a.client-title.center(href='http://www.kernel.ua/') KERNEL
        a.client-title.center(href='http://www.tis.ua/') TIS
        a.client-title.center TESLA GROUP
