section#products
  .container(name="products")
    .center
      p.section-title Products
    .section-body!= markdown(message_products)
      .products.clearfix
        .product
          .product-title
            p PANTHEON
          .product-elems
            p It's a typical Raspberry Pi computer with Atom2 on board which help to connecting to you serial or modbus devices by a simple http requests. It's help integrate your devices in you accounting system without any outside components and expand opportunities to work and managment it.
            p We use it on truck, rail or bulk scales and intergate it on 1C with REST service on board.
        .product
          .product-title
            p ATOM
          .product-elems
            p Software on node.js platform. It connect devices in network, collect theirs data and allow managed it throw simple REST API.
