section#services
  .container(name="services")
    .center
      p.section-title Services
    .section-body!= markdown(message_services)
    .center
      .services.clearfix
        .service-wrapper
          .service#service-dev
            .service-body
              i.fa.fa-cubes
              p.title DEVELOPMENT
              .elems
                p.text We are developing:
                ul
                  li IoT devices
                  li IoT applications
                  li IoT systems
                  li CRM systems
                  li WEB applications
                  li Mobile applications

        .service-wrapper
          .service#service-sup
            .service-body
              i.fa.fa-support
              p.title SUPPORT
              .elems
                p.text We provide support for solutions developed by us and any solutions based on the platform of 1C: Enterprise
        .service-wrapper
          .service#service-con
            .service-body
              i.fa.fa-user-md
              p.title CONSULTING
              .elems
                p.text IT consulting in the areas of:
                ul
                  li Agribusiness
                  li Elevators
                  li Grain and oil terminals
                  li Oil refineries
        .service-wrapper
          .service#service-aud
            .service-body
              i.fa.fa-thumbs-o-up
              p.title AUDIT
              .elems
                p.text Audit the safe operation of elevators and port terminals:
                ul
                  li Accounting system
                  li Weighing system
                  li Video monitoring system
